/* Small devices (tablets, 768px and 992px) */
@media only screen and (min-width: 767px) and (max-width: 992px) {
  body {
    /* welcome block */
    /* END welcome content */
    /* experience block */
    /* END experience block */
    /* works block */
    /* END works block */
    /* about block */
    /* END about block */
    /* footer */
    /* END footer */
  }
  body section.welcome {
    /* welcome content */
    /* END welcome block */
  }
  body section.welcome .welcome-content {
    /* button for me style */
    /* social-offices */
    /* END social-offices */
  }
  body section.welcome .welcome-content h1 {
    font-size: 1.8em;
  }
  body section.welcome .welcome-content h2 {
    font-size: 1.3em;
  }
  body section.welcome .welcome-content .welcome-caption {
    margin-top: 130px;
    margin-bottom: 0;
  }
  body section.welcome .welcome-content .welcome-button {
    width: 37.7083%;
    height: 45px;
    margin: 20px 0;
  }
  body section.welcome .welcome-content .social-offices {
    margin: 40px 0 0;
    width: 350px;
  }
  body section.welcome .welcome-content .social-offices .group-social .network-icon {
    font-size: 15px;
  }
  body section.experience {
    top: -140px;
  }
  body section.experience .experience-content .skills {
    width: 120px;
  }
  body section.works {
    top: -240px;
    /* works-content */
    /* END works-content */
  }
  body section.works .works-content .portfolio .project {
    margin-top: 20px;
    width: 40%;
  }
  body .about {
    top: -350px;
    /* about-content */
    /* END about-content */
  }
  body .about .about-content {
    padding: 50px 2%;
  }
  body .about .about-bottom {
    background-image: url("../images/background/about-3.png");
  }
  body .footer-site {
    top: -450px;
  }
  /* END BODY */
}
/* END Small devices (tablets, 768px and 992px) */
