.svg-svg--bootstrap {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 0;
  width: 80px;
  height: 80.037px;
}
.svg-svg--css {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 8.785249457700651%;
  width: 57.11px;
  height: 80px;
}
.svg-svg--git {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 17.462039045553144%;
  width: 125.703px;
  height: 80px;
}
.svg-svg--gulp {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 26.235975727912248%;
  width: 80px;
  height: 83.414px;
}
.svg-svg--gulp-logo {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 35.24945770065076%;
  width: 50px;
  height: 80px;
}
.svg-svg--html {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 43.926247288503255%;
  width: 56.678px;
  height: 80px;
}
.svg-svg--html-css {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 52.60303687635575%;
  width: 87.514px;
  height: 80px;
}
.svg-svg--js {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 61.27982646420824%;
  width: 97.299px;
  height: 80px;
}
.svg-svg--js-strict {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 70.3380588876772%;
  width: 97.299px;
  height: 85px;
}
.svg-svg--less {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 78.91891891891892%;
  width: 122.581px;
  height: 77px;
}
.svg-svg--oval {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 83.71369294605809%;
  width: 38px;
  height: 38px;
}
.svg-svg--photoshop {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 91.64859002169197%;
  width: 81.885px;
  height: 80px;
}
.svg-svg--responsive {
  background: url("../images/svg/sprite.svg") no-repeat;
  background-position: 0 100%;
  width: 115.581px;
  height: 77px;
}
