@screen-sm-min: 767px;
@screen-md-min: 992px;

/* Small devices (tablets, 768px and 992px) */
@media only screen
and (min-width : @screen-sm-min)
and (max-width : @screen-md-min) {

  body {


    /* welcome block */
    section.welcome {

      /* welcome content */
      .welcome-content {
        h1 {
          font-size: 1.8em; //86pt
        }
        h2 {
          font-size: 1.3em; //40pt
        }

        .welcome-caption {
          margin-top: 130px;
          margin-bottom: 0;
        }


        /* button for me style */
        .welcome-button {
          width: 37.7083%; //340px
          height: 45px;
          margin: 20px 0;
        }

        /* social-offices */
        .social-offices {
          margin: 40px 0 0;
          width: 350px;

          .group-social {
            .network-icon {
              font-size: 15px;
            }
          }

        }/* END social-offices */

      }/* END welcome block */

    }/* END welcome content */




    /* experience block */
    section.experience {
      top: -140px;


      .experience-content {
        .skills {
          width: 120px;
          //font-size: 0.875em;
        }

        .p-skill {
          //font-size: 0.875em;
        }
      }


    }/* END experience block */


    /* works block */
    section.works {
      top: -240px;

      /* works-content */
      .works-content {

        .portfolio {

          .project {
            margin-top: 20px;
            width: 40%;
          }
        }

      }/* END works-content */


    }/* END works block */




    /* about block */
    .about {
      top: -350px;

      /* about-content */
      .about-content {
        padding: 50px 2%;
      }/* END about-content */

      .about-bottom {
        background-image: url("../images/background/about-3.png");
      }


    }/* END about block */




    /* footer */
    .footer-site {
      top: -450px;
    }
    /* END footer */






  }/* END BODY */




}/* END Small devices (tablets, 768px and 992px) */